@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme="light"] {
  --text: #081515;
  --background: #f1f9fa;
  --primary: #47b1ba;
  --secondary: #95b8d7;
  --accent: #7995cd;
}
:root[data-theme="dark"] {
  --text: #e9f7f7;
  --background: #050e0f;
  --primary: #46afb9;
  --secondary: #294c6b;
  --accent: #324e86;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
}

body {
  color: rgb(var(--text));
  background: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main section {
  padding: 0 20px;
}
